.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.team-member {
  width: 264px;
  text-align: center;
}

.team-member img {
  width: 100%;
  height: auto;
  /*border-radius: 50%; /* если хотите, чтобы фото было круглым */
}

.team {
    background-color: #F4F4FD;
}
